@charset "UTF-8";
@import url("./pisma.css");
@import url("./smartphoto.min.css");
@import url("./lokacije.css");
@import url("./elementi.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, header, footer, main, article, section, div, figure, figcaption, p, ul, ol, dl {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

html {
  background: var(--dark) url("../vizuali/zid.png");
  background-attachment: fixed;
  height: 100vh;
  font-family: var(--text-face);
  font-size: 1.7vmax;
  line-height: 1.8em;
  overflow: hidden;
  /* layout */
  --header-size: 3rem;
  --footer-size: 3rem;
  --main-size: calc(100vh - var(--header-size) - var(--footer-size));
  --gutter: .8rem;
  --page-margins: calc(var(--gutter) * 3);
  --body-width: 100%;
  --max-body-width: 1500px;
  --section-angle: 7vw;
  --title-clip: polygon(0 0, 100% 0, 100% calc(100% - var(--section-angle)), 0% 100%);
  --section-clip: polygon(0 var(--section-angle), 100% 0, 100% calc(100% - var(--section-angle)), 0% 100%);
  --end-clip: polygon(0 var(--section-angle), 100% 0, 100% 100%, 0% 100%);
  --three-columns: auto;
  --text-column-margin-top: 0;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --max-font-size: 18px;
  /* colors */
  /* defininitions */
  /* 
    // original
    --brick-values: 200, 50, 20;
    --dark-brick-values: 50, 25, 20;
    --dark-values: 20, 20, 20;
    --complement-values: 20, 20, 20;
    --text-primary-values: 250,245,240;
    --text-secondary-values: 245,222,179;
    --text-accent-values: 255,165,0;
    
    // blaga - šarena
    --brick-values: 217, 93, 57;
    --dark-brick-values: 200, 80, 30;
    --dark-values: 14, 20, 40;
    --complement-values: 123, 158, 137;
    --text-primary-values: 238, 244, 212;
    --text-secondary-values: 240, 162, 2;
    --text-accent-values: 240, 162, 2;
    
    // cigla-cigla
    --brick-values: 200, 70, 50;
    --dark-brick-values: 142, 64, 48;
    --dark-values: 47, 47, 45;
    --complement-values: 216, 162, 128;
    --text-primary-values: 250, 244, 240;
    --text-secondary-values: 235, 195, 171;
    --text-accent-values: 254, 100, 75;
    
    */
  --brick-values: 161, 67, 46;
  --dark-brick-values: 100, 30, 10;
  --dark-values: 14, 20, 35;
  --complement-values: 104, 109, 65;
  --text-primary-values: 250, 245, 245;
  --text-secondary-values: 247, 226, 188;
  --text-accent-values: 203, 158, 118;
  /* miixer */
  --brick: rgb(var(--brick-values));
  --dark-brick: rgb(var(--dark-brick-values));
  --dark: rgb(var(--dark-values));
  --accent: rgb(var(--complement-values));
  --brick-transp: rgba(var(--brick-values), .75);
  --brick-seethrough: rgba(var(--brick-values), .15);
  --dark-brick-transp:  rgba(var(--dark-brick-values), .9);
  --dark-transp: rgba(var(--dark-values), .9);
  --dark-seethrough: rgba(var(--dark-values), .15);
  --text-primary-color: rgb(var(--text-primary-values));
  --text-secondary-color: rgb(var(--text-secondary-values));
  --text-accent-color: rgb(var(--text-accent-values));
  --frame-background-color: var(--accent);
  --figure-shadow: 3px 3px 10px  rgba(0,0,0,.2);
  --display-shadow: .5vw .5vw 1vw rgba(0,0,0,.5);
  /* text */
  --text-face: 'Cairo', sans-serif;
  --display-face: 'Vesper Libre', serif;
  --small-caps: 'Marcellus SC';
  --gigant-face: 'Merriweather';
  /* photo filters */
  --photo-dark-gray: url(./filteri.svg#blueSepia);
  --photo-glypt: url(./filteri.svg#glypthovision);
  --photo-blypt: url(./filteri.svg#blypthovision);
  --photo-background: var(--photo-blypt);
  --photo-cutout: url(./filteri.svg#chromakey);
  --gradient-mask: linear-gradient(to bottom, transparent 5%, white 12%, white 88%, transparent 95%);
  --soft-gradient-mask: linear-gradient(to bottom, transparent 2%, white 20%, white 80%, transparent 98%);
  /* SmartPhoto variables */
}

@media screen and (min-width: 800px) {
  html {
    font-size: var(--max-font-size);
    --three-columns: repeat(3, 1fr);
    --text-column-margin-top: 3.5rem;
  }
}

body {
  width: var(--body-width);
  max-width: var(--max-body-width);
  height: 100%;
  margin: 0 auto;
  color: var(--text-primary-color);
  background-color: var(--dark-seethrough);
  -webkit-box-shadow: var(--display-shadow);
          box-shadow: var(--display-shadow);
  position: relative;
  z-index: -2;
}

@media screen and (min-width: 800px) {
  body {
    --body-width: 96%;
  }
}

header, footer {
  position: fixed;
  height: var(--header-size);
  background-color: var(--brick);
  width: var(--body-width);
  max-width: var(--max-body-width);
  z-index: 9000;
}

main {
  position: fixed;
  top: var(--header-size);
  height: var(--main-size);
  width: var(--body-width);
  max-width: var(--max-body-width);
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  height: var(--footer-size);
  background-color: var(--dark);
  bottom: 0;
}

a {
  color: var(--text-secondary-color);
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
}

a:hover {
  color: var(--text-accent-color);
}

.button, button {
  padding: .5em 1em;
  background-color: var(--dark-transp);
  display: inline-block;
  color: var(--text-primary-color);
  text-decoration: none;
  border: 0;
  border-radius: .5em;
}

.gigant, main article > h1, #grad, #rubrike figcaption {
  font-family: var(--gigant-face);
  font-weight: 900;
  font-size: 10vmin;
  line-height: 1em;
  letter-spacing: -.05em;
  text-transform: uppercase;
  text-align: left;
  max-width: 80vmax;
}

@media screen and (min-width: 800px) {
  .gigant, main article > h1, #grad, #rubrike figcaption {
    max-width: 80vmax;
  }
}

.glypthovision {
  -webkit-filter: var(--photo-glypt);
          filter: var(--photo-glypt);
}

.smallcaps {
  font-family: var(--small-caps);
  font-variant: small-caps;
}

small {
  font-size: 1em;
}

strong {
  color: var(--text-secondary-color);
  letter-spacing: 0.05em;
}

.keyword {
  color: var(--brick-transp);
  letter-spacing: .2em;
}

.invisible {
  opacity: 0;
}

ol {
  counter-reset: new-counter;
  list-style-type: none;
}

ol li:before {
  content: counter(new-counter) ". ";
  counter-increment: new-counter;
  color: var(--text-secondary-color);
}

img.pozadina {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.smartphoto {
  z-index: 20000;
}

header {
  top: 0;
}

header nav {
  height: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header nav ul li:first-of-type {
  margin-right: auto;
}

header nav ul li:first-of-type a {
  width: var(--header-size);
  text-indent: -99999px;
  display: block;
  position: relative;
}

header nav ul li:first-of-type a svg {
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  margin: 0;
  top: 30%;
  left: 30%;
}

header nav ul li:first-of-type a.active {
  color: var(--brick);
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a {
  color: var(--text-primary-color);
  display: block;
  padding: 0 .5em;
  line-height: calc(var(--header-size) + 2px);
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li a:hover {
  background-color: var(--dark-brick);
  -webkit-box-shadow: var(--figure-shadow);
          box-shadow: var(--figure-shadow);
}

header nav ul li a.active {
  background-color: var(--dark);
}

#kazalo {
  position: absolute;
  bottom: 15vh;
  right: 5%;
  left: 5%;
  z-index: 1000;
  list-style: none;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  -webkit-animation: kazalo 2s ease-in .25s forwards;
          animation: kazalo 2s ease-in .25s forwards;
}

@-webkit-keyframes kazalo {
  to {
    opacity: 1;
  }
}

@keyframes kazalo {
  to {
    opacity: 1;
  }
}

#kazalo li {
  font-family: var(--gigant-face);
  letter-spacing: .02em;
  background-color: var(--accent);
  line-height: 1.2em;
  padding: .5em .75em;
  margin: .5em 0;
  border-radius: 2px;
  -webkit-box-shadow: var(--figure-shadow);
          box-shadow: var(--figure-shadow);
  cursor: pointer;
}

#kazalo li:hover {
  background-color: var(--dark-brick);
  -webkit-transition: .5s;
  transition: .5s;
}

#kazalo li.sub {
  font-size: .85em;
  background-color: var(--dark);
  color: var(--text-secondary-color);
  margin-left: 2em;
}

#kazalo li.sub:hover {
  background-color: var(--brick);
}

@media screen and (min-width: 800px) {
  #kazalo {
    bottom: 20vh;
    left: 50%;
  }
}

main article {
  min-height: 100%;
}

main article h1 {
  color: var(--text-primary-color);
  font-family: var(--display-face);
  font-weight: 300;
  font-size: var(--h1-font-size);
  line-height: 3rem;
}

main article > h1 {
  font-size: 28vw;
  line-height: 1em;
  height: var(--main-size);
  width: 100%;
  max-width: 100% !important;
  padding: 0 var(--page-margins);
  position: relative;
  z-index: 3;
  color: var(--text-secondary-color);
  opacity: .85;
  mix-blend-mode: soft-light;
  font-family: var(--gigant-face);
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: .5em;
  -webkit-clip-path: var(--title-clip);
          clip-path: var(--title-clip);
}

main article > h1::before, main article > h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat; */
  background-size: auto 100vmax;
  background-position: 50% 50%;
  -webkit-transition: 2s;
  transition: 2s;
  z-index: -200;
  -webkit-filter: var(--photo-dark-gray);
          filter: var(--photo-dark-gray);
  -webkit-animation: none;
          animation: none;
  opacity: 1;
}

main article > h1::after {
  z-index: -199;
  -webkit-filter: var(--photo-glypt);
          filter: var(--photo-glypt);
  cursor: -webkit-grab;
  cursor: grab;
}

main article > h1:active::after {
  opacity: 0;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main article .cutout {
  -webkit-filter: var(--photo-cutout);
          filter: var(--photo-cutout);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer a {
  width: var(--footer-size);
  text-indent: -99999px;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

footer a svg {
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

footer a:first-of-type {
  margin-right: auto;
}

footer a:first-of-type svg {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

footer a:last-of-type {
  margin: 0 calc(var(--gutter) * 2) 0 calc(var(--gutter));
}

footer a.active {
  background-color: var(--brick);
  color: var(--dark);
}

footer a[data-external]::before {
  content: attr(data-external);
  text-indent: 0;
  font-size: .5em;
  text-align: center;
  line-height: 1em;
  display: inline-block;
  position: absolute;
  background: var(--accent);
  height: auto;
  top: 0;
  left: 50%;
  padding: .2em .4em;
  border-radius: .5em;
  -webkit-transform: translate(-50%, 4vh) scale(0);
          transform: translate(-50%, 4vh) scale(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

footer a[data-external]:hover {
  color: var(--text-primary-values);
  -webkit-transform: scale(2) translateY(-25%);
          transform: scale(2) translateY(-25%);
}

footer a[data-external]:hover::before {
  -webkit-transform: translate(-50%, -1.5vh) scale(1);
          transform: translate(-50%, -1.5vh) scale(1);
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-transp);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brick-transp);
  -webkit-transition: background 1s;
  transition: background 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-accent-color);
}
/*# sourceMappingURL=prijelom.css.map */